<div class="itemlist-for-qxofifashion J_Module">
    <div class="search-div"><input type="text" placeholder="search" ng-model="query"></div>
    <div class="module-wrap">
        <ul class="list J_dynamic">
            <li ng-repeat="item in items | filter:query" data-start="{{item[item_content_start_time]}}" data-end="{{item.deliveryDate}}" data-store="{{item.item_num}}" class="">
                <div class="inner">
                    <div class="pic-wrap">
                        <div class="ipic img-vertical">
                            <a href="{{item.item_url}}" class="img-wrap" title="{{item.item_title}}" target="_blank" data-spm-anchor-id="a21cv.7771689.19758.187">
                                <img width="230" alt="" src="{{item.item_pic}}">
                            </a>
                        </div>
                    </div>

                    <div class="txt red" item_tag="[2443, 1154, 4614, 4811, 7947, 2507, 25729, 4678, 1163, 50370, 5835, 2059, 1483, 25857, 3019, 62530, 3915, 3851, 6603, 6411, 4107, 25282, 12034, 1675, 4171, 28801, 4491, 61890, 907, 1803, 4555, 28353, 4363, 2635, 7371]" deliverydate="{{item.deliveryDate}}">
                        <span class="statu">疯抢中</span>
                        <span class="filter"></span>
                        <span class="num">
                            <strong ng-bind="item.item_num"></strong><br>
                            <em>仅剩</em>
                        </span>
                    </div>
                    <div class="box">
                        <div class="info">
                            <h3 class="title"><a href="{{item.item_url}}" target="_blank" data-spm-anchor-id="a21cv.7771689.19758.188" ng-bind="item.item_title"></a></h3>
                            <div class="price">抢新价 <em class="ms-yh ">¥</em><span ng-bind="item.item_current_price"></span></div>
                        </div>

                        <div class="shop-mask">
                            <h3 class="ms-yh"><a href="{{item.item_shop_url}}" title="{{item.item_shop_title}}" target="_blank" data-spm-anchor-id="a21cv.7771689.19758.189" ng-bind="item.item_shop_title"></a></h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
