/* app css stylesheet */
/* common style header, footer and section */
header{
  height: 30px;
  background: #000;
  width: 100%;
  display: flex;
}
footer{
  height: 20px;
  background: #000;
  width: 100%;
  display: flex;
}
section{
  display: flex;
}


/* common style header and footer */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.left-content{
  width: 300px;
  float:left;
}
.right-content{
  float: left;
}
