/* app css stylesheet */
/* common style header, footer and section */
html,body{
  height: 100%;
}
body{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: column nowrap;
}
header{
  height: 50px;
  background: #000;
  color: #fff;
  line-height: 50px;
  padding-left: 20px;
}
nav{
  display: inline-block;
  margin-left: 100px;
}
footer{
  height: 20px;
  background: #000;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}
/* the safari has some problem, but the chrome and firefox is good
 make the layout fit the whole browser using height: inherit
*/
section{
  min-height: auto;
  height: inherit;
  overflow: auto;
  padding: 10px;
}


/* common style header and footer */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}


.menu > li {
  display: inline-block;
  padding: 0px 10px;
}
.menu > li a{
  color: #fff;


}
.menu > li a.selectedMenu{
  color: #f0ad4e;
}

.menu > li:before {
  content: "|";
  padding-right: 20px;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.left-content{
  width: 300px;
  float:left;
}
.right-content{
  float: left;
}
